img{
    height: 50px;
}

.sidemenu{
    position: fixed;
    top: 116px;
    left: 0;
    z-index: 100;
    width: 250px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 10px;
    border-right: 2px solid rgb(184, 184, 184);

}

.sidemenu button{
    color: black;
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
    width: 200px;
    border-width: 0px;
    border-radius: 7px;
    align-items: center;
    text-align: left;
    padding-left: 10px;
}

.sidemenu button:hover{
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

.logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 30px;
}

body{
    margin: 0;
}